<div class="footer-left">
    Copyright &copy; <%= new Date().getFullYear() %>
        <div class="bullet"></div> Develoved By <a href="http://syaifulasad.my.id/">Syaiful As'ad</a>
</div>
<div class="footer-right">

</div>